td {
    text-align: center;
}

.b {
    background-color: rgb(224, 10, 10);
    color: rgb(255, 226, 7);
    padding: 15px 30px;
    text-align: center;
    font-size: 25px;
    border-radius: 4px;
}

.t {
    font-size: 30px;
}
h1 {
    background-color: green;
    color: white;
}
